config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.accessors.chain = true
lombok.nonNull.exceptionType = IllegalArgumentException
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
